{% extends 'padre.html' %}

{% block cambioencabezado %}

          <p class="display-4 fw-bolder" style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #cb8383;">Crear nuevo amigurumi<p>
          <p class="lead fw-normal text-black-50 mb-0">Ingrese los datos necesarios a continuación </p>
      
{% endblock cambioencabezado %}


{% block cambios1 %}
  
<br><br>
<div style="flex: 1; max-width: 500px; margin: 0 auto; border: 3px solid #f3b1b1; padding: 20px; border-radius: 5px;">
  <form action="{% url 'creaamigurumi' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  
    {{form.as_p}}
  
    <button type="submit">Crear</button>
  </form>
  <a href="{% url 'inicio' %}">Volver al inicio</a>
</div>

{% endblock cambios1 %}