{% extends 'padre.html' %}

{% block cambioencabezado %}

          <h1 class="display-4 fw-bolder" style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #a05050;">Éxito!</h1>
          <p class="lead fw-normal text-black-50 mb-0">.</p>
      
{% endblock cambioencabezado %}


{% block cambios1 %}
<div style="flex: 1; max-width: 400px; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; border: 3px solid #f3b1b1; padding: 20px; border-radius: 5px;">
    <br><h1 style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #cb8383;" class="text-center">Gracias por tu mensaje!</h1>
    <p style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #cb8383;" class="text-center">Te responderemos lo antes posible.</p><br>
</div>


{% endblock cambios1 %}