{% extends 'padre.html' %}

{% block cambioencabezado %}

          <h1 class="display-4 fw-bolder" style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #a05050;">
            Éxito!
          </h1>
          <p class="lead fw-normal text-black-50 mb-0">Su producto ha sido creado exitosamente!</p>
      
{% endblock cambioencabezado %}

{% block cambios1 %}
<br><br><br>
<h3 style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #cb8383;" class="text-center">
    <br>Su producto ya se encuentra dispoible en la tienda!<br>
</h3>
<br>
<div class="text-center">
    <a href="{% url 'creaamigurumi' %}">Crear nuevo amigurumi</a>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</div>
<br><br>
<!-- <h1>Su producto ya se encuentra disponibl en la tienda!</h1>

<a href="{% url 'inicio' %}">Volver al inicio</a>
<a href="{% url 'creaamigurumi' %}">Crear nuevo amigurumi</a> -->
    
{% endblock cambios1 %}
    