{% extends 'padre.html' %}

{% block cambios1 %}
  
  <h2>Vista en detalle del producto</h2>

  <h2>Nombre: {{amigurumis.nombre}}</h2>
    <h6><div><p>
    <br>
    <br> 
    <img src="{{ amigurumis.imagen.url }}" alt="{{ amigurumis.nombre }}" style="max-width: 100%; height: auto;">
    <br>
    <br>
    Descripción: {{amigurumis.descripcion}}
    <br>
    <br> 
    Categoría: {{amigurumis.categoria}}
    <br>
    <br>
    Precio: {{amigurumis.precio}}
    <br>
    <br>
    Stock: {{amigurumis.stock}}
    </p></div></h6>

{% endblock cambios1 %}