{% extends 'padre.html' %}

{% block cambios1 %}
<h2 style="text-align: center;">Detalle de {{amigurumis.nombre}} </h2>

<div style="flex: 1; max-width: 400px; margin: 0 auto; border: 3px solid #f3b1b1; padding: 20px; border-radius: 5px;">
  <h4>Nombre: {{amigurumis.nombre}}</h4>
    <h6>
      <div>
        <p>
          <img src="{{ amigurumis.imagen.url }}" alt="{{ amigurumis.nombre }}" style="width: 300px; height: auto;">
          <br><br>
          <strong>Descripción:</strong> {{amigurumis.descripcion}}
          <br><br>
          <strong>Categoría:</strong> {{amigurumis.categoria}}
          <br><br>
          <strong>Precio:</strong> {{amigurumis.precio}}
          <br><br>
          <strong>Stock:</strong> {{amigurumis.stock}}
        </p>
      </div>
    </h6>
    <button>
      <a href="#!" style="text-decoration: none; color: inherit;">Añadir al carrito</a>
    </button>
</div>
{% endblock cambios1 %}