{% extends 'padre.html' %}


{% block cambioencabezado %}

          <h1 class="display-4 fw-bolder">Amigurumis!</h1>
          <p class="lead fw-normal text-black-50 mb-0">Hechos a mano.</p>
      
{% endblock cambioencabezado %}
  
{% block cambios1 %}
  
<br>
<h1>Lista de amigurumis</h1>

<ul>
    
    {% for amigurumi in amigurumis %}
      <li>
        <img src="{{amigurumi.imagen.url}}" alt="{{amigurumi.nombre}}" style="width: 100px; height: auto;">
        <br>
        {{ amigurumi }} -
        <br>
        Precio: {{ amigurumi.precio }}
      </li>
      <div style="display: flex; column-gap: 5px;">
        <button>
          <a href="{% url 'detalleamigurumi' amigurumi.id %}">Detalle</a>
        </button>
      </div>
    {% endfor %}
  
  </ul>
  <br><br><br><br>
  
  {% endblock cambios1 %}
  <a href="{% url 'inicio' %}">Ir al inicio</a>
 