{% extends 'padre.html' %}

{% block cambios1 %}
  
<br>
<h1>Lista de amigurumis</h1>

<ul>
    
    {% for amigurumi in amigurumis %}
      <li>
        <img src="{{amigurumi.imagen.url}}" alt="{{amigurumis.nombre}}" style="width: 100px; height: auto;">
        {{ amigurumi }}
      </li>
      <div style="display: flex; column-gap: 5px;">
        <button>
          <a href="{% url 'actualizaamigurumi' amigurumi.id %}">Actualizar</a>
        </button>
        <button>
          <a href="{% url 'eliminaramigurumi' amigurumi.id %}">Eliminar</a>
        </button>
      </div>
    {% endfor %}
      
  </ul>
  <br>
  <a href="{% url 'inicio' %}">Ir al inicio</a>
  <a href="{% url 'creaamigurumi' %}">Crea amigurumi</a>
  <br><br><br>
  
  {% endblock cambios1 %}