{% extends 'padre.html' %}


{% block cambioencabezado %}

          <h1 class="display-4 fw-bolder">Amigurumis!</h1>
          <p class="lead fw-normal text-black-50 mb-0">Hechos a mano.</p>
      
{% endblock cambioencabezado %}
  
{% block cambios1 %}
  
<br>
<!-- <h3>Lista de amigurumis</h3> -->


<ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap; gap: 10px;">
    {% for amigurumi in amigurumis %}
      <li style="flex: 0 1 calc(25% - 10px); margin-left: 10px;"> 
        <div style="border: 3px solid #f3b1b1; border-radius: 5px; padding: 20px; background-color: #ffe6f2; text-align: center;">
          <img src="{{ amigurumi.imagen.url }}" alt="{{ amigurumi.nombre }}" style="width: 200px; height: auto;">
          <br>
          {{ amigurumi }} -
          <br>
          Precio: {{ amigurumi.precio }}
          <div style="display: flex; justify-content: center; margin-top: 10px;">
            <button style="margin-right: 10px;">
              <a href="{% url 'detalleamigurumi' amigurumi.id %}" style="text-decoration: none; color: inherit;">Detalle</a>
            </button>
            <button>
              <a href="#!" style="text-decoration: none; color: inherit;">Añadir al carrito</a>
            </button>
          </div>
        </div>
      </li>
    {% endfor %}
</ul>
  <br><br><br><br>
  
  {% endblock cambios1 %}
  <a href="{% url 'inicio' %}">Ir al inicio</a>
 