{% extends 'padre.html' %}


{% block cambios1 %}
  
<br>
<h1>Lista de amigurumis</h1>

<ul>
    
    {% for amigurumi in amigurumis %}
    <img src="{{ amigurumis.imagen.url }}" alt="{{ amigurumi.nombre }}" style="width: 100px; height: auto;">
      <li>
        {{ amigurumi }}
      </li>
      <div style="display: flex; column-gap: 5px;">
        <form action="#!" method="post">{% csrf_token %}
          <button type="submit">Eliminar</button>
        </form>
        <button>
          <a href="#!">Editar</a>
        </button>
      </div>
    {% endfor %}
      
  </ul>
  <br><br><br><br>
  
  {% endblock cambios1 %}
  <a href="{% url 'inicio' %}">Ir al inicio</a>
  <a href="{% url 'creaamigurumi' %}">Crea amigurumi</a>