{% extends 'padre.html' %}

{% block cambioencabezado %}
    <h1 class="display-4 fw-bolder" style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #a05050;">Búsqueda</h1>
    <p class="lead fw-normal text-black-50 mb-0">.</p>
{% endblock cambioencabezado %}

{% block cambios1 %}
    <br>
    <br>
    <div style="text-align: center; font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #a05050;">La búsqueda arrojó el/los siguiente/s resultado/s para "{{ nombre }}"</div>
   

    {% if amigurumis %}
        <ul style="list-style-type: none; padding: 0; display: flex; flex-wrap: wrap; gap: 10px;">
          {% for amigurumi in amigurumis %}
            <li style="flex: 0 1 calc(25% - 10px); margin-left: 35px; margin-top: 30px;"> 
              <div style="border: 3px solid #f3b1b1; border-radius: 5px; padding: 20px; background-color: #ffe6f2; text-align: center;">
                <img src="{{ amigurumi.imagen.url }}" alt="{{ amigurumi.nombre }}" style="width: 300px; height: auto;">
                <br>
                <strong>Nombre:</strong> {{ amigurumi.nombre }}<br>
                <button style="background-color: #f78480; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer;">
                    <a href="{% url 'detalleamigurumi' amigurumi.id %}" style="text-decoration: none; color: white;">Detalle</a>
                </button>
              </div>
            </li>
            <br><br>
          {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron amigurumis con esos datos de búsqueda.</p>
    {% endif %}
    
{% endblock cambios1 %}