{% extends 'padre.html' %}

{% block cambioencabezado %}
    <h1 class="display-4 fw-bolder" style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #a05050;">Sobre nosotros!</h1>
    <p class="lead fw-normal text-black-50 mb-0">Te contamos por qué hacemos lo que hacemos!</p>
{% endblock cambioencabezado %}

{% block cambios1 %}
    
<div style="flex: 1; max-width: 400px; margin: 0 auto; margin-top: 20px; margin-bottom: 20px; border: 3px solid #f3b1b1; padding: 20px; border-radius: 5px;">
    <br>
    <h1 style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #cb8383;" class="text-center">
        Bienvenidos a Pandora!
    </h1>
    <p style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #cb8383;" class="text-center">
        Mi nombre es Cristian Prando, soy psicólogo y hace poco comencé a formarme en ciencia de datos y programación. </p>
    <p style="font-family: 'NombreDeLaFuente', Verdana, Geneva, Tahoma, sans-serif; color: #cb8383;" class="text-center"> Este proyecto, enmarcado dentro de la cursada de Python, está basado en un proyecto pre-existente de mi pareja, 
        quien desde hace ya muchos años se dedica a la creación de amigurumis, ropa y a la venta de insumos para tejer.
    </p>
    <br>
</div>

{% endblock cambios1 %}